@model LoginModel
@using Microsoft.AspNetCore.Identity
@using ProvaEsame.DB.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Login";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 p-3 m-3 bg-light border border-secondary rounded shadow">
            <form asp-action="Login" asp-controller="Home" method="post" style="text-align:center">
                <div class="form-group">
                    <label asp-for="@Model.UserName"></label>
                    <input type="text" class="form-control" placeholder="Inserisci il tuo nome utente" asp-for="@Model.UserName" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input type="password" class="form-control" placeholder="Inserisci password" asp-for="@Model.Password" />
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="Login" />
            </form>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>Ciao @UserManager.GetUserName(User)!</strong>
                <p>Sei stato loggato con successo.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else if (!SignInManager.IsSignedIn(User))
        {
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                <strong>Non sei loggato.</strong>
                <p>Effettua il login per usare l'applicazione!</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        </div>
    </div>
</div>
